{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block head %}
    {{ parent() }} <!-- Inclut les fichiers CSS de base -->
        <link rel="stylesheet" href="{{ asset('css/contact.css') }}"><!-- Lien vers le CSS spécifique au paiement -->
{% endblock %}

{% block body %}
    <main class="contact-container">
        <h1>L'équipe de développement</h1>
        <br>
        <div class="contact-photos">
            <a href="https://www.linkedin.com/in/abder-bessalah/">
                <img src="https://i.postimg.cc/cH8T9PSD/1727784293364.jpg" alt="Abder Bess" class="contact-image">
            </a>
            <a href="https://www.linkedin.com/in/ilyès-manai-a76649266/">
                <img src="https://i.postimg.cc/XYwH3RGt/1724474732435.jpg" alt="Ilyès Manai" class="contact-image">
            </a>
            <a href="https://www.linkedin.com/in/karim-feki-18ab66249/">
                <img src="https://i.postimg.cc/9QM0jhnQ/1727913680738.jpg" alt="Karim Feki" class="contact-image">
            </a>
            <a href="https://www.linkedin.com/in/ervin-goby-b52b25235/">
                <img src="https://i.postimg.cc/HxpsB1Xm/1700214075352.jpg" alt="Ervin Goby" class="contact-image">
            </a>
        </div>
    </main>
{% endblock %}
